.header_container{
    display: flex;
    align-items: center;
    padding: .5rem 2.5rem;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.24) ;
      
}
.header_center_details_container{
    display: flex;
    color: white;
    gap: 25px;
    
    
}
.headernavlink_container{
    font-size: 18px;

}
.headernavlink_container:hover,
.headernavlink_container:focus,
.headernavlink_container:active{
    color: orange;
}
.share_container{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}
.share{
    cursor: pointer;
}
.share_container:hover,
.share_container:focus,
.share_container:active{
    color: orange;
}


@media screen and (max-width:1263px) {
    .headernavlink_container{
        font-size: 15px;
    }
    
}
@media screen and (max-width:1133px) {
    .headernavlink_container{
        font-size: 10px;
    }
    
}
@media screen and (max-width:960px) {
    .headernavlink_container{
        display: none;
    }
    
}

