.paragraph_container{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.blue_Text_container{
    font-size: 2.5rem;
    color: #292e81;

}
.TripCard_container{
    display: flex;
    padding: 1.5rem 3.5rem;
    justify-content: space-between;
}
.text_orange{
    font-size: 23px;
    color: #d9b620;
}
.paragraph1{
    color: rgba(119, 116, 116, 0.897);
}
.right_side_box{
    position: relative;
}
.join_us_box{
    max-width: 120px;
    position: relative;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: #292e81;
}
.line{
    position: absolute;
    height: 45%;
    width: 1px;
    background-color: #d9b620;
}
